<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/master.css' />
</head>
<body>
hello from master
</body>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

</html>
